<<<<<<< HEAD
=======

>>>>>>> 1ecee022342d7e6199c4767786f826a69e99981b
<!-- Start: Header Section
================================ -->
<section class=" relative background-2">
    <div class="container">
        <div class="row section-separator-big">

            <div class="col-xs-12">
                <!-- Start: Section Header -->
                <div class="section-header margin-t-30 margin-b-30 text-center" >
                
                    <h4 class="section-heading text-uppercase letter-spacing-2">create your BitCaffe account</h4>
                    
                </div> <!-- End: Section Header -->
            </div>

            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="row">

                    <div class="registration-form col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                        <div class="registration-form-outer background-1 shadow">
                            
                            <%=form_tag '/users', method: :post, class: "single-form" do%>
                            
                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" class="form-control" name="name" placeholder="Full Name">
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="email" class="form-control" name="email" placeholder="Email" >
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <input type="password" class="form-control" name="password" placeholder="Password" >
                                        </div>
                                    </div>
                                </div> <!-- End: input -->
                                
                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <!-- Subject Button -->
                                <div class="btn-form input-outer col-xs-12">
                                    <div class="button-outer relative">
                                        <%= button_tag "Register User".html_safe, class: "btn btn-fill full-width"%>
                                    </div>
                                </div>
                            <%end%>
                            
                            <div class="col-xs-12 text-center">
                              <%= link_to "Login to your Account".html_safe, "/login", class: "btn"%>
                            </div>

                        </div> <!-- /#-1 -->
                    </div>

                </div>
            </div>


        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->