<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/aantonop"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Andreas</a>
        <a class="twitter-timeline"
        href="https://twitter.com/aantonop"
        data-tweet-limit="1">Latest tweet by Andreas</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/alextapscott"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Alex</a>
        <a class="twitter-timeline"
        href="https://twitter.com/alextapscott"
        data-tweet-limit="1">Latest tweet by Alex</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/michaelterpin"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Michael</a>
        <a class="twitter-timeline"
        href="https://twitter.com/michaelterpin"
        data-tweet-limit="1">Latest tweet by Michael</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/gavinandresen"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Gavin</a>
        <a class="twitter-timeline"
        href="https://twitter.com/gavinandresen"
        data-tweet-limit="1">Latest tweet by Gavin</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/rogerkver"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Roger</a>
        <a class="twitter-timeline"
        href="https://twitter.com/rogerkver"
        data-tweet-limit="1">Latest tweet by Roger</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/ErikVoorhees"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Erik</a>
        <a class="twitter-timeline"
        href="https://twitter.com/ErikVoorhees"
        data-tweet-limit="1">Latest tweet by Eric</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/pmarca"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @pmarca</a>
        <a class="twitter-timeline"
        href="https://twitter.com/pmarca"
        data-tweet-limit="1">Latest tweet by him</a>
      </div>
    </div>
  </div>
</div>

<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/sam_kr6"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @SK</a>
        <a class="twitter-timeline"
        href="https://twitter.com/sam_kr6"
        data-tweet-limit="1">Latest tweet by SK</a>
      </div>
    </div>
  </div>
</div>
<div class="hotshots-head">
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="bitcoin-twitter-wrap row">
        <a href="https://twitter.com/VitalikButerin"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large">Follow @Vitalik</a>
        <a class="twitter-timeline"
        href="https://twitter.com/VitalikButerin"
        data-tweet-limit="1">Latest tweet by Vitalik</a>
      </div>
    </div>
  </div>
</div>



<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;

}(document, "script", "twitter-wjs"));</script>