<div class="coinbase-container">
  <div id="myElem">
    <p class="add" id="clickme">Advertisement</p>
    <p class="coinbase-add"><%= link_to "Get $10! Sign-up for Coinbase","https://www.coinbase.com/join/56d7437a25cbc8005d000647", target: :_blank %></p>
    <p class="coinbase-text"><%= link_to "Buy your first Bitcoin, Ether, Litecoin","https://www.coinbase.com/join/56d7437a25cbc8005d000647", target: :_blank %></p>
  </div>
  <div class="stock-prices">
  <br>
    <% @prices.each do |price| %>
      <%= "#{price['name']}: $#{price['price_usd'].to_f.round(2)}" %>
    <% end %>
  </div>
</div>
<div class="slider-wrap">
  <div class="slider" id="slider">
    <div class="holder">
      <div class="slide" id="slide-0"></div>
      <div class="slide" id="slide-1"></div>
      <div class="slide" id="slide-2"></div>
    </div>
  </div>
  <nav class="slider-nav">
    <a href="#slide-0" class="active">Slide 0</a> 
    <a href="#slide-1">Slide 1</a> 
    <a href="#slide-2">Slide 2</a> 
  </nav>
</div>



<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;

}(document, "script", "twitter-wjs"));</script>
<script type="text/javascript">
$("#myElem").show();
setTimeout(function() { $("#myElem").fadeOut(1600); }, 5000);
// $( "#clickme" ).click(function() {
//   $( "#myElem" ).fadeOut( "slow", function() {
//     // Animation complete.
//   });
// });
</script>
<script type="text/javascript">
  var slider = {
  el: {
    slider: $("#slider"),
    allSlides: $(".slide"),
    sliderNav: $(".slider-nav"),
    allNavButtons: $(".slider-nav > a")
  },
  
  timing: 800,
  slideWidth: 300, 
  init: function() {
    this.bindUIEvents();
  },
  
  bindUIEvents: function() {
    // You can either manually scroll...
    this.el.slider.on("scroll", function(event) {
      slider.moveSlidePosition(event);
    });
    // ... or click a thing
    this.el.sliderNav.on("click", "a", function(event) {
      slider.handleNavClick(event, this);
    });
    // What would be cool is if it had touch
    // events where you could swipe but it
    // also kinda snapped into place.
  },
  
  moveSlidePosition: function(event) {
    // Magic Numbers =(
    this.el.allSlides.css({
      "background-position": $(event.target).scrollLeft()/6-100+ "px 0"
    });  
  },
  
  handleNavClick: function(event, el) {
    event.preventDefault();
    var position = $(el).attr("href").split("-").pop();
    
    this.el.slider.animate({
      scrollLeft: position * this.slideWidth
    }, this.timing);
    
    this.changeActiveNav(el);
  },
  
  changeActiveNav: function(el) {
    this.el.allNavButtons.removeClass("active");
    $(el).addClass("active");
  }
  
};

slider.init();
</script>