<!-- Start: Header Section
================================ -->
<section class="header-section-1 default-home relative bg-overlay-3 bg-cover" style="background-image: url(<%= asset_path 'bg-1.jpg' %>);">
    <div class="container">
        <div class="row section-separator default-seperator light-text">

             <div class="cd-content-animation text-center">
                <!-- Start: Section Header -->
                <div class="section-header relative col-md-10 col-md-offset-1 col-sm-12" >
                
                    <h4 class="section-heading">Crypto has grown 5000% (20B to 600B) this year, and it is just a beginning.  We thank you for being an early supporter of the technology. You deserve to make money.</h4>
                    <h4 class="section-heading margin-t-25">And, we, at Bitcaffe, are here to help you with the best tools to understand the extremely volatile crypto market.</h4>
                    <h4 class="section-heading margin-t-25">Understand the price in context of news, social conversation, google trend and social sentiments.</h4>
                    
                </div> <!-- End: Section Header -->

                <div class="clearfix">  </div>

                <!--<div class="btn-form margin-t-40 col-xs-12">-->
                <!--    <a href="/beginner_lp" class="btn btn-fill btn-color right-icon">Learn More</a>-->
                    <!--<a href="#" class="btn btn-fill-big btn-dark">Contact us</a>-->
                <!--</div>-->
            </div>

        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->




