<!-- Start: Header Section
================================ -->
<section class="default-home relative background-4">
    <div class="container">
        <div class="row section-separator-small default-seperator">

             <div class="cd-content-animation text-center">
                <!-- Start: Section Header -->
                <div class="section-header relative col-md-8 col-md-offset-2 col-sm-12" >
                
                    <p class="section-heading margin-b-15">Bitcaffe thanks you for being an early supporter of the technology. Crypto grew 4000% ($20B to $800B) in 2017. Experts believe that year 2018 is for crypto what 1997-99 was for Dotcom era. </p>
                    <p class="section-heading margin-b-15">Don’t miss the chance to invest and help accelerate the innovation. Have fun and make some $ along the way.</p>
                    <p class="section-heading">We, at Bitcaffe, are here to help you with the best tools to understand and ride this extremely volatile crypto market.</p>
                    <!--<hr class="lines margin-t-15" style="display: inline-block">-->
                    
                </div> <!-- End: Section Header -->

                <div class="clearfix">  </div>

                <!--<div class="btn-form margin-t-40 col-xs-12">-->
                <!--    <a href="/beginner_lp" class="btn btn-fill btn-color right-icon">Learn More</a>-->
                    <!--<a href="#" class="btn btn-fill-big btn-dark">Contact us</a>-->
                <!--</div>-->
            </div>

        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->



<!-- Start: Header Section
================================ -->
<section class="features-section features-2-col relative subscrive-section background-2">
    <div class="container">
        <div class="row features-item section-separator-small">
          
            <div class="relative overflow">
                
                <hr class="middle-seperator hidden-sm hidden-xs"/>
                <div class="each-item col-md-6 col-sm-12">
                    <div class="inner-2-col">
                        
                         <!-- Start: Section Header -->
                        <div class="section-header text-center">
                            <h4 class="section-heading">Sign-up for these exchanges to get access of the cool ICO’s and new coins.</h4>
                        </div> 
                        <!-- End: Section Header -->
                        <ul class="nav light margin-t-20 text-center">
                            <li class="margin-b-20" >
                                <span class="display-block margin-b-10"><strong>The best exchange to get started </strong></span>
                                <a class="btn btn-fill btn-dark" data-reload="true" href="https://www.coinbase.com/join/56d7437a25cbc8005d000647">Sign-up for Coinbase</a>
                            </li>
                            <li class="margin-b-20" >
                                <span class="display-block margin-b-10"><strong>Get access to smaller cap coins and ICOS </strong></span>
                                <a class="btn btn-fill btn-dark" data-reload="true" href="https://www.kucoin.com/#/?r=28tHc">Sign-up for Kucoin</a>
                            </li>
                            <li><span class="display-block margin-b-10">
                                <strong>Join the fastest growing exchange </strong></span>
                                <a class="btn btn-fill btn-dark" data-reload="true" href="https://www.binance.com/?ref=13291055">Sign-up for Binance</a>
                            </li>
                        </ul>
                        
                        <!--<h4 class="margin-b-30 "></h4>-->
                        <div class="subscribe-form-area white margin-t-30">
                            <div class="subscribe-form-area-inner-small background-1 shadow">
                                    
                                <!-- Start: Section Header -->
                                <div class="section-header">
                                    <p class="section-heading">Sign-up to get exclusive access of the Bitcaffe CryptoAI. The AI tool can help you in making buy/sell decisions.  It will help you understand the market and social media sentiment.</p>
                                </div> 
                                <!-- End: Section Header -->
        
                                <div class="subscribe-form" id="mc_embed_signup">
                          
                                    <!-- Mailchimp Subscriber Form Goes Here  -->
                                    <form id="mc-embedded-subscribe-form" method="post" class="single-form text-center validate" target="_blank" novalidate="true" action="https://bitcoincaffe.us17.list-manage.com/subscribe/post?u=634e7336b124158b06bbc1115&amp;id=60c0054ed1" novalidate>
                                        <div class="container-fluid" id="mc_embed_signup_scroll">
          
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_634e7336b124158b06bbc1115_60c0054ed1" tabindex="-1" value=""></div>
                                            <div class="row">
                                                <div class="input-group">
          
                                                    <div class="outer">
                                                        <input type="email" class="black-text footer-email-bar form-control required email" placeholder="Email" name="EMAIL" id="mce-EMAIL">
                                                    </div>
          
                                                    <div class="input-group-btn outer">
                                                        <button class="footer-form-submit btn btn-fill button" type="submit" name="subscribe" id="mc-embedded-subscribe" >Subscribe</button>
                                                    </div>
          
                                                </div>
                                                
                                                <div id="mce-responses margin-t-15" class="clear">
                                                    <div class="response subscription-failed" id="mce-error-response" style="display:none"></div>
                                                    <div class="response subscription-success" id="mce-success-response" style="display:none"></div>
                                                </div>
          
                                            </div>
                                        </div>
                                    </form>
                                    
                                    
                                </div> <!-- End: .subscribe-form -->
                            </div>
                        </div>
                        
                    </div>
                </div> <!-- End: .each-item -->
                <div class="each-item col-md-6 col-sm-12 text-left">
                    <div class="inner-2-col">
                        
                        <h4 class="margin-b-30"> Understand prices in the context of news, social conversation & sentiment, and google trends.</h4>
                        <%= link_to( image_tag("#{asset_path "ImageForInvestorLP.jpg"}", :alt => "", :class =>"img-responsive"), "/news", :data => { :reload => true }, class: "display-block shadow" )%>
                    
                    </div>
                </div> <!-- End: .each-item -->
                
            </div>
               
        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->




<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> -->


<script async src="https://guteurls.de/guteurls.js" selector=".live-link-preview"></script>

