<div class="resource-head">
<h1 class="resource-head-text">Resources</h1>
<div class="resource-container">
  <div class="row">
    <div class="resource-block-container">
      <% @resouces.each do |resource| %>
        <div class="col-md-2">
          <div class="resource-block">
            <div class="resource-title">
              <%= resource %>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>