<div class="res-show-container">
  <h1 class="res-name-head"><%= link_to "#{@resouce.name}", "#{@resouce.resource_link}", target: :_blank%></h1>
  <p class="res-name-para"><%= @resouce.description%></p>
</div>