.wrapper {
  text-align: center;
  font: 12px Arial;
  color: #808080;
  background: #FFFFFF url(images/background.gif) repeat-x 0 0;
}
a {
  text-decoration: none;
  color: #688F96;
}
a:hover {
  text-decoration: underline;
  color: #ff0000;
}
img {
  border: 0;
}

.break {
  font-size: 0;
  width: 0; height: 0;
  clear: both;
}
.alignleft {
  float: left;
  margin: 4px 10px 5px 0;
}
.alignright {
  float: right;
  margin: 4px 0 5px 10px;
}
.aligncenter {
  text-align: center;
}
.hidden {
  display: none;
}

/** BEGIN wrapper **/
#wrapper {
  width: 975px;
  margin: auto auto;
  text-align: left;
}
#newswrapper{
  margin: auto auto;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
/** END wrapper **/

/** BEGIN header **/
#header {
  height: 160px;
}
  #header ul {
    list-style-type: none;
    float: left;
    
  }
    #header ul li {
      float: left;
      font-weight: bold;
      font-family: Verdana;
      font-size: 0.9em;
    }
    #header ul li a {
      color: #FFFFFF;
      display: block;
      text-transform: uppercase;
      padding: 8px 15px 9px;
    }
    #header ul li a:hover, #header ul li.here a {
      background: url(images/active.gif) no-repeat bottom center;
      text-decoration: none;
    }
  #header .rss {
    float: right;
    background: url(images/rss.gif) no-repeat 0 7px;
    padding: 9px 10px 9px 20px;
    font-size: 0.8em;
    font-family: Verdana;
    color: #FFFFFF;
  }
    #header .rss a {
      color: #FFFFFF;
      margin: 0 7px;
    }
  
  #header h1 {
    clear: both;
    float: left;
    padding: 43px 0 0 12px;
  }
  
    #header h1 a {
      display: block;
      text-indent: -9999px;
      outline: none;
      width: 352px;
      height: 44px;
      background: url(images/logo.gif) no-repeat 0 0;
    }
  
  #header .ad {
    float: right;
    padding: 35px 6px 0 0;
  }
/** END header **/

/** BEGIN content **/
#content {
  float: left;
  width: 950px;
  overflow: hidden;
  padding-bottom: 11px;
}
  #content .post {
    float: left;
    width: 315px;
    padding: 11px 10px 0 0;
  }
    #content .post .details1 {
      background-color: #ECEBEB;
      color: #808080;
      font-size: 0.8em;
      font-family: Verdana;
      font-weight: bold;
      padding: 8px 7px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
      #content .post .details1 a{
        color: #456069;
        text-decoration: none;
      }
  #content .post .buffer {
    padding: 4px;
    background-color: #ECEBEB;
    margin: 0;
  }
  #content .post .content{
    border: 1px solid #CBCBCB;
    padding: 10px;
    background-color: #ffffff;
    height: 160px;
  }
    #content .post .content img {
      border: 3px solid #ECEBEB;
      margin: 4px 8px 5px 0;
      float: left;
      width: 80px;
    }
    #content .post .content h2 {
      margin-bottom: 5px;
      font-size: 1.5em;
      line-height: 1.3em;
    }
    #content .post .content h2 a {
      text-decoration: none;
      color: #456069;
      font-size: 0.8em;
    }
    #content .post .content p {
      line-height: 1.5em;
    }
  #content .post .details2 {
    background-color: #ECEBEB;
    padding: 8px 7px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #CBCBCB;
  }
    #content .post .details2 a {
      color: #456069;
      font-size: 0.8em;
      font-family: Verdana;
      font-weight: bold;
      text-transform: uppercase;
    }
    #content .post .details2 a:hover {
      text-decoration: none;  
    }
  #content .postnav {
    padding: 20px 5px;
    font-size: 0.9em;
    font-weight: bold;
    clear: both;
  }
    #content .postnav a {
      color: #456069;
    }
  #content .title {
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 15px 5px 10px;
    letter-spacing: 1px;
  }
  #content .single {
    padding: 15px 15px 10px 0;
  }
    #content .single h2 {
      font-size: 1.4em;
      margin-bottom: 15px;
    }
    #content .single p {
      line-height: 1.4em;
      margin-bottom: 10px;
    }
    #content .single ul, #content .single ol {
      list-style-position: inside;
      margin-bottom: 10px;
    }
    #content .single li {
      line-height: 1.4em;
      padding: 2px 0;
    }
    #content .single blockquote {
      padding: 10px 10px 0;
      background-color: #eeeeee;
      border-width: 1px 0;
      border-style: solid;
      border-color: #e0e0e0;
      margin-bottom: 10px;
    }
    #content .single h3, h4, h5, h6 {
      font-size: 1.4em;
      margin-bottom: 5px;
    }
/** END content **/

/** BEGIN sidebar **/
#sidebar {
  // width: 320px;
  width: 300px;
  float: right;
  padding: 11px 0 20px;
}
  #sidebar .l {
    float: left;
    width: 155px;
  }
  #sidebar .r {
    float: right;
    width: 155px;
  }
  #sidebar .box {
    background-color: #ECEBEB;
    padding: 4px;
    margin-bottom: 10px;
  }
    #sidebar .box h2 {
      background-color: #ffffff;
      font-size: 0.9em;
      font-family: Verdana;
      color: #456069;
      padding: 8px;
      border: 1px solid #CBCBCB;
    }
    #sidebar .box ul {
      background-color: #ffffff;
      list-style-type: none;
      padding: 4px 8px 8px;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: #cbcbcb;
    }
      #sidebar .box li {
        font-size: 0.9em;
        font-family: Verdana;
        line-height: 1.4em;
        padding: 3px 0 3px 14px;
        border-bottom: 1px dotted #dddddd;
        background: url(images/bullet.gif) no-repeat 0 8px;
      }
      #sidebar .box li a {
        color: #688F96;
      }
    #sidebar .box p, #sidebar .box div {
      background-color: #ffffff;
      padding: 8px;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: #cbcbcb;
    }
    #sidebar .box .flickr {
      text-align: center;
    }
      #sidebar .box .flickr img {
        margin: 4px 8px;
      }
    #sidebar .box .video {
      padding: 9px;
    }
  #sidebar form {
    width: 310px; height: 33px;
    background: #ECEBEB url(images/search.gif) no-repeat center;
    padding: 4px;
    margin-bottom: 10px;
  }
    #sidebar form input {
      float: left;
      border: 0;
      width: 218px;
      font-size: 1.2em;
      font-family: Verdana;
      margin: 8px;
    }
    #sidebar form button {
      float: right;
      width: 75px; height: 33px;
      font-size: 0.9em;
      font-family: Verdana;
      font-weight: bold;
      color: #ffffff;
      border: 0;
      background-color: transparent;
    }
/** END sidebar **/

/** BEGIN footer **/
#footer {
  clear: both;
  background-color: #456069;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 0.9em;
}
  #footer a {
    color: #ffffff;
  }
  #footer p {
    padding: 15px 0;
    text-align: left;
    width: 975px;
    margin: auto auto;
  }
/** END footer **/

/** BEGIN miscellaneous **/
#comments a {
  text-decoration: none;
}
  #comments h2 {
    font-size: 1.3em;
  }
  #comments p {
    margin-bottom: 10px;
    line-height: 1.6em;
  }
  #comments form {
    padding: 0 10px;
  }
  #comments form p {
    margin-bottom: 5px;
  }
    #comments form input {
      margin-right: 5px;
    }
    #comments form input, textarea {
      border: 1px solid #cccccc;
      font-size: 0.9em;
      font-family: Verdana;
      padding: 4px;
      background-position: 4px 4px;
      background-repeat: no-repeat;
    }
    #comments form input {
      width: 260px;
      border: 1px solid #cccccc;
    }
    #comments form textarea {
      width: 350px;
      padding: 4px 4px !important;
      border: 1px solid #cccccc;
    }
    #comments form button {
      border: 1px solid #a0a0a0;
      font-size: 1em;
      font-family: Verdana;
      padding: 2px 6px;
    }
  .commentdetails {
    margin-top: 25px;
  }
  .commentauthor {
    margin-bottom: 5px !important;
    font-weight: bold;
  }
  .commentdate {
    font-size: 0.8em;
    margin-bottom: 5px;
    color: #909090;
  }
  .required {
    color: #ff0000;
  }
h2.title {
  font-size: 1em !important;
  text-transform: uppercase;
  padding: 10px;
  color: #565656;
}
.notfound {
  padding: 40px;
}
  .notfound h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
/** END miscellaneous **/
