// Place all the styles related to the resource_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resource-head{
  // background-color: #57706D;
  background-color: #F3F3F3;
  padding-top: 0px;
  // padding-bottom: 40px;
}
.resource-head-text{
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  text-align: center;
  color: black;
}
.resource-container{
  background-color: #F3F3F3;
}
.resource-block-container {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align: center;
  display: inline-block;
}
.resource-block{
  width: max;
  height: 150px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #019CDE;
  color: white;
  display: block;
  padding: 20px 20px 20px 20px;
}

.resource-title a{
  font-size: 15px;
  // padding: 40px 20px 20px 20px;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  color: white;
}

// .blockquote {
//   background-color: #57706D;
//   color: white;
//   }

// .res-container {
//   margin-bottom: 5px;
//   margin-left: 5px;
//   margin-right: 5px;
//   margin-top: 5px;
//   width: auto;
//   height: 180px;
//   border: none;
//   padding: 0px 0px 0px 0px;
//   background-color: #C3543B;
//   color: white;
// }