// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-form-container{
  padding: 50px 200px 100px 200px;
}
.signup-form-head{
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  text-align: center;
  padding-bottom: 20px;
}
.inputs-group{
  padding: 20px 20px 20px 20px;
}