<h1>Welcome and move out in style</h1>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">
   <a href="/products/<%= product.id %>">
     <img src="<%= product.images.first.url if product.images.any? %>" width="200" height="200">
     <p><%= product.name %></p>
     <p><%= product.price %></p>
   </div>
   <% end %>
 </table> 
</div>